.projectWrapper {
  cursor: pointer;
  outline: 1px solid var(--colour-brand-tints-transparent-10, rgba(254, 254, 254, 0.1));
  border-radius: 10px;
}

.projectBackground {
  user-select: none;
}

.projectTop {
  user-select: none;
}