.gridRow {
  fill: rgba(20, 20, 20, 1);
}

.gridRow:nth-child(even) {
  fill: rgba(20, 20, 20, 1);
}

.gridRowLine {
  stroke: rgba(254, 254, 254, 0.1);
}

.gridTick {
  stroke: rgba(254, 254, 254, 0.1);
}