.calendarBottomText {
  text-anchor: middle;
  fill: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: #242424;
}

.calendarTopText {
  text-anchor: middle;
  fill: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: #242424;
  stroke: #242424;
  stroke-width: 1.4;
}