.calendarBottomText {
  text-anchor: middle;
  fill: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: rgba(37, 36, 36, 1);
}

.calendarTopText {
  text-anchor: middle;
  fill: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: rgba(37, 36, 36, 1);
  stroke: rgba(37, 36, 36, 1);
  stroke-width: 1.4;
}