.barWrapper {
  cursor: pointer;
  outline: 1px solid var(--colour-brand-tints-transparent-10, rgba(254, 254, 254, 0.1));
  border-radius: 5px;
}

.barWrapper:hover .barHandle {
  visibility: visible;
  opacity: 1;
}

.barHandle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.barBackground {
  user-select: none;
  stroke-width: 0;
}